doctype
html(lang='en')
  head
    include head
  body
    nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
      a.navbar-brand.col-sm-3.col-md-2.mr-0(href='/')
        strong Aurora
      .navbar-brand.bg-dark.px-3.w-100
        span.nav-item #{active}
    
    .container-fluid
      .row
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            ul.nav.flex-column
              each mod in ['General', 'Network', 'Voice', 'Features']
                li.nav-item
                  a.nav-link(href=`/${mod.toLowerCase()}`, 
                             class=((active == mod) ? 'active' : ''))= mod
        main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
          block content
