extends components/base

block styles
  link(rel='stylesheet',
    href='/css/network.css')

block content
  .row.mb-3.mt-3
    .col-sm-4
      .table-responsive
        table.table.table-hover
          thead.thead-dark
            tr
              th Group name
              th.fit
          tbody
            tr
              td 1
              td.fit 
            tr
              td 2
              td.fit 

    .col-sm-8
      .table-responsive
        table.table.table-hover
          thead.thead-dark
            tr
              th.fit Member address
              th Member alias
              th.fit 
          tbody
            tr
              td.fit 192.168.1.105
              td Mainframe
              td.fit 
            tr
              td.fit 192.168.1.105
              td Mainframe
              td.fit 