{% extends "base.html" %}

{% block content %}
    <h1>Add a new node to the list of nodes known by this node</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.node_name.label }}<br>
            {{ form.node_name(size=64) }}<br>
            {% for error in form.node_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.node_ip.label }}<br>
            {{ form.node_ip(size=64) }}<br>
            {% for error in form.node_ip.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.node_port.label }}<br>
            {{ form.node_port(size=64) }}<br>
            {% for error in form.node_port.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
